.carousel {
    position: relative;
    max-width: 800px;

    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    /*width: 300%; /* Учитываем, что есть 3 изображения */
    width: 1500px;
    height: 500px;
}

.carousel img {
    width: inherit; /* Изображения растягиваются на всю ширину контейнера */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
