.row{
    display: flex;
    flex-direction: row;

}

.col{
    display: flex;
    flex-direction: column;
}

.colElement{
    width: inherit;
    height: fit-content;
}

.rowElement{
    height: inherit;
    width: fit-content;
}

.logo{
    background-color: #f3f3f3;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
}

.whiteButton{
    background-color: #d63d3d;
    border: 2px solid #0a053e;
    color: #f3f3f3;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;font-family: 'Raleway';
    font-weight: 400;
}

.head{
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: inherit;
    padding: 10px 20px;
}

h1{
    font-family: "Raleway";
    font-weight: 800;
    font-size: xx-large;
}

p{
    font-family: "Roboto Condenced";
    font-size: x-large;
}

.linkIcon{
    scale: 2.5;
    background: rgba(250,235,215,0.8);
    padding: 2px;
    border-radius: 100%;
}

.bucket{
    flex: 1;
    margin: 0 10px;
    padding: 10px 30px;
    background-color: rgba(250,235,215,0.8);
    border: 2px solid #0a053e;
}

.link{
    text-decoration: underline; /* Подчеркивание текста */
    font-style: italic;         /* Курсивный шрифт */
    font-size: x-large;
}

.footer{
    font-size: x-large;
}

.relational{
    display: flex;
    flex-direction: row;
}

.capsule{
    width: 400px;
    background: rgba(250,235,215,0.8);
    padding: 40px 60px;
    border-radius: 25px;
}

@media screen and (max-width: 1000px){
    .relational{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .relational-row{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }


    .footer div p{
        font-size: xxx-large;
    }
    .footer div a{
        font-size: xxx-large;
    }

    .icons{
        margin-top: 100px;
    }
    .linkIcon{
        font-size: xx-large;
        padding: 10px;
    }

    h1{
        font-size: xxx-large;
    }

    p{
        font-size: xx-large;
    }

    .capsule{
        width: 100%;
        margin: 0;

    }

    .whiteButton{
        font-size: xx-large;
    }





}